body{
	margin: 0px;
	padding: 0px;
	font-family: Courier New;
	background: #006266;
}

.form{
	width: 50%;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #2f3542;
	text-align: left;
	background-image: radial-gradient(#000000, #006266);
}

.form h1{
	color: white;
	font-weight: 300;
	font-size: 200%;
}

.form input[type="text"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #26de81;
	padding: 14px 10px;
	width: 90%;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	font-size: 1.35em;
}

.form input[type="text"]:focus{
	width: 95%;
	border-color: #006266;
}

ul.choice{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}

ul li.choice{
  color: #26de81;
  display: block;
  position: relative;
  float: left;
  width: 20%;
  left: 25%;
  height: 100px;
	border-bottom: 1px solid #333;
}

ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 25px 25px 25px 80px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

ul li:hover label{
	color: #FFFFFF;
}

ul li .check{
  display: block;
  position: absolute;
  border: 5px solid #26de81;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 20px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

ul li:hover .check {
  border: 5px solid #FFFFFF;
}

ul li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 5px;
	left: 5px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 5px solid #006266;
}

input[type=radio]:checked ~ .check::before{
  background: #006266;
}

input[type=radio]:checked ~ label{
  color: #006266;
}

.form input[type="submit"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #fed330;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;	
	cursor: pointer;
	font-size: 1.35em;
	width: 90%;
}

.form input[type="submit"]:hover{
	background: #2ecc71;
}

.select-css {
	
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #26de81;
	padding: 14px 10px;
	width: 90%;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	font-size: 1.35em;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #FFFFFF;
}
.select-css:focus {
	border-color: #006266;
	color: #222; 
	outline: none;
}
.select-css option {
	font-weight:normal;
}

table, th, td {
  border: 2px solid #26de81;
  text-align: center;
  font-size: 1.35em;
  font-family: sans-serif;
  color: white;
  margin: auto;
}
th{
	width: 250px;
}



ul.nav-bar
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 20%;
	background-color: #2f3542;
	border: 1px solid #555; 
}

li a.nav-bar
{
	display: block;
	color: white;
	padding: 10% 20%;
	text-decoration: none;
	font-family: Courier New;
	font-size: 150%;
}

li.nav-bar
{
	text-align: center;
	border-bottom: 1px solid #555;
	background-image: linear-gradient(black, grey);
}

.nav-bar-active
{
	padding: 10% 20%;
	font-size: 150%;
	text-align: center;
	background-color: #558B2F;
}

li.nav-bar:last-child
{
	bottom-border: none;
}

li a.nav-bar:hover
{
	background-color: #555;
	color: #26de81; 
	background-image: linear-gradient(grey, black);
}