body{
	margin: 0px;
	padding: 0px;
	font-family: Courier New;
	background: #006266;
}


.form{
	width: 60%;
	height: 80%;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #2f3542;
	text-align: left;
	background-image: radial-gradient(#000000, #006266);
}

.form h1{
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500; /* Edit, consider using for nav bars */
	font-size: 200%;
}

.form input[type="text"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #26de81;
	padding: 14px 10px;
	width: 800px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	font-size: 1.35em;
}

.form input[type="text"]:focus{
	width: 900px;
	border-color: #006266;
}

.form input[type="submit"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #fed330;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;	
	cursor: pointer;
	font-size: 1.35em;
}

.form input[type="submit"]:hover{
	background: #2ecc71;
}


table, th, td {
  border: 2px solid #26de81;
  text-align: center;
  font-size: 1.35em;
  font-family: sans-serif;
  color: white;
  margin: auto;
}
th{
	width: 250px;
}

ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 15%;
	background-color: #2f3542;
	border: 1px solid #555; 
}

li a
{
	display: block;
	color: white;
	padding: 10% 20%;
	text-decoration: none;
	font-family: Courier New;
	font-size: 150%;
}

li
{
	text-align: center;
	border-bottom: 1px solid #555;
	background-image: linear-gradient(black, grey);
}

.active
{
	background-color: #558B2F;
}

li:last-child
{
	bottom-border: none;
}

li a:hover
{
	background-color: #555;
	color: #26de81; 
	background-image: linear-gradient(grey, black);
}