<!DOCTYPE html>
<html lang="en" dir="itr">
<head>
	<meta charset="utf-8">
	<title> Calculator </title>
	<link rel="stylesheet" type="text/css" href="css/calculationStyle.css" />
	<script src="TotalNetworth.js" type="text/javascript"></script>
</head>
<body>
	<ul class="nav-bar" style="float: left">
		<li class="nav-bar"> <a class="nav-bar" href="home"> Home </a> </li>
		<li class="nav-bar-active"> <a href="add" style="color: white"> Add Item </a> </li>
		<li class="nav-bar"> <a class="nav-bar" href="edit"> Edit Net Worth </a> </li>  <!-- Link to Edit Net Worth -->
	</ul>
	<ul class="nav-bar" style="float: right">
		<li class="nav-bar"> <a class="nav-bar" href="login"> Login </a></li>
		<li class="nav-bar"> <a class="nav-bar" href="create_account"> Create Account </a></li>
		<li class="nav-bar"> <a class="nav-bar" href="share"> Share </a> </li>  <!-- Link to Share Page -->
	</ul>

	<div>
	<form class="form" >
		<!-- <div class="box" align="center" style="background-color: green">
			<a> Your net worth is: <script type="text/javascript"> function Calculate_Networth() </script></a>
		</div>
		<br><br> -->

		<h1 class="font-weight-bold"> Fill in the Form to add an Asset or Liability to the data </h1>
		<input type="text" placeholder="Enter name of Asset or Liability">
		<ul class="choice">
  			<li class="choice">
    			<input type="radio" id="a" name="selector">
    			<label for="a">Asset</label>
    
    			<div class="check"></div>
  			</li>

  			<li class="choice">
    			<input type="radio" id="s" name="selector">
    			<label for="s">Liability</label>
    
    			<div class="check"><div class="inside"></div></div>
  			</li>
		</ul>
		<input type="text" placeholder="Enter value of Asset or Liability"><br><br>

		<select class = "select-css">
			<option selected> Choose a category </option>
			<option> Property </option>
			<option> Stocks </option>
			<option> Bank Accounts </option>
			<option> Credit Cards </option>
			<option> Loans </option>
			<option> ... </option>
		</select>
		<input type="submit" value="Add Asset/Liability">
		<input type="submit" value="Finish Adding Elements">
		<br>
		<table class="table table-bordered" id="stats_table">
			<tr>
				<th> Type </th>
				<th> Value </th>
				<th> Category </th>
			</tr>
		</table>
	</form>
	</div>
</body>