<!DOCTYPE html>
<html lang="en" dir="itr">
<head>
	<meta charset="utf-8">
	<title> Create Account </title>
	<link rel="stylesheet" type="text/css" href="css/createAccountStyle.css" />
</head>
<body>
	<ul style="float: left">
		<li > <a href="home"> Home </a> </li>
		<li > <a href="add"> Add Item </a> </li>
		<li> <a href="edit"> Edit Net Worth </a> </li> <!-- Link to Edit Net Worth -->
	</ul>
	<ul style="float: right">
		<li> <a href="login"> Login </a></li>
		<li> <a href="create_account" class="active"> Create Account </a></li>
		<li> <a href="share"> Share </a> </li> <!-- Link to Share Page -->
	</ul>

	<form class="box" action="/create_account/add_user" method="post">
		<h1 class="font-weight-bold" > Create Account </h1>
		<div class="form-group row">
		<!--
						<label class="col-sm-2 col-form-label"  for="color_name">Color Name:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="color_name" id="color_name" placeholder="Enter Color's Name">
						</div>
					</div>
		-->
		<input type="text" for = "username" placeholder="Enter a Username" name="username" id = "username">
		<input type="password" placeholder="Enter a Password" name="password" id = "password">
		<input type="password" placeholder="Re-Enter your Password" name="repassword" id = "repassword">
		<input type="text" placeholder="Enter your Email" name="email" id = "email">
		<input type="submit" value="Create Account">
	</form>
</body>
</html>