<!DOCTYPE html>
<html lang="en" dir="itr">
<head>
	<meta charset="utf-8">
	<title> Edit </title>
	<link rel="stylesheet" type="text/css" href="css/editStyle.css" />
</head>
<body>

	<ul style="float: left">
		<li > <a href="home"> Home </a> </li>
		<li > <a href="add"> Add Item </a> </li>
		<li> <a href="edit" class="active"> Edit Net Worth </a> </li> <!-- Link to Edit Net Worth -->
	</ul>
	<ul style="float: right">
		<li> <a href="login"> Login </a></li>
		<li> <a href="create_account"> Create Account </a></li>
		<li> <a href="share"> Share </a> </li> <!-- Link to Share Page -->
	</ul>

	<form class = "form">
		<h1> Enter information of an existing object to edit/remove the object </h1>
		<input type="text" placeholder="Enter name of Asset or Liability">
		<input type="text" placeholder="Enter new value or Asset or Libaility (0 to remove entirely)">
		<input type="submit" value="Edit Asset/Liability">
		<table class="table table-bordered" id="stats_table">
			<tr>
				<th> Name </th>
				<th> Type </th>
				<th> Value </th>
				<th> Category </th>
			</tr>
<%
if (data) {
        var table = '';
	var type = '';
	var value = '';
        data.forEach(function(item){
		if(item.type == 1){
			type = 'Asset';
			value = '$' + item.amount;
		}
		else{
			type = 'Liability';
			value = '$-' + item.amount;
		}
		table += '<tr> <td> ' + item.name + ' </td> <td> ' + type + ' </td> <td> ' + value + ' </td> <td> ' + item.category + ' </td> </tr>';	
        }); %>
        <%- table %>
<% } %>	
		</table>
	</form>
</body>