<!DOCTYPE html>
<html lang="en" dir="itr">
<head>
	<meta charset="utf-8">
	<title> Share </title>
	<link rel="stylesheet" type="text/css" href="css/share.css" />
</head>
<body>
	<ul class="nav-bar" style="float: left">
		<li class="nav-bar"> <a class="nav-bar" href="home"> Home </a> </li>
		<li class="nav-bar"> <a class="nav-bar" href="add"> Add Item </a> </li>
		<li class="nav-bar"> <a class="nav-bar" href="edit"> Edit Net Worth </a> </li>  <!-- Link to Edit Net Worth -->
	</ul>
	<ul class="nav-bar" style="float: right">
		<li class="nav-bar"> <a class="nav-bar" href="login"> Login </a></li>
		<li class="nav-bar"> <a class="nav-bar" href="create_account"> Create Account </a></li>
		<li class="nav-bar-active"> <a class="nav-bar" href="share"> Share </a> </li>  <!-- Link to Share Page -->
	</ul>

	<form class = "form" action="/share" method="post" enctype="X-www-form-urlencoded">
		<h1 class="font-weight-bold"> Fill in information to send an email </h1>
		<input type="text" name= "email" placeholder="Enter Email to send to">
		<input type="text" name="comment" placeholder="Enter a Comment">
		<h2> Please Choice a chare setting </h2>
		<ul class="choice">
  			<li class="choice">
    			<input type="radio" id="High" name="selector1">
    			<label for="High">High Sharing (Everything will be shared)</label>
    
    			<div class="check"></div>
  			</li>

  			<li class="choice">
    			<input type="radio" id="Medium" name="selector2">
    			<label for="Medium">Medium Sharing (total net worth and percentage of categories)</label>
    
    			<div class="check"><div class="inside"></div></div>
  			</li>

  			<li class="choice">
    			<input type="radio" id="Low" name="selector3">
    			<label for="Low">Low Sharing (just net worth)</label>
    
    			<div class="check"></div>
  			</li>
		</ul>

		<input type="submit" value="Send">
	</form>
	<script type="text/javascript">
	</script>
</body>